# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Environment files
*.pem
*.key
.env
.env.*

# Kubernetes
kubeconfig